@using MMS2
@model DrugAllergyMdl
@{
    ViewBag.Title = "Pharmacist Alerts";
    Layout = "~/Views/Shared/_TwitterLayoutPage.cshtml";
}
<script type='text/javascript' src="@Url.Content("~/Scripts/PharmacyMSGJS.js")"></script>

<div class="breadCrumb clearfix">
    <ul id="breadcrumbs">
        <li><a href="@Url.Content("~/")">Home</a></li>
        <li><a href="#" onclick="$('#mainMenuDefault').trigger('click');">Main</a></li>
        <li>Pharmacist Alerts</li>
    </ul>
</div>


<div class="content">
    <form id="validate">
        @using (Ajax.BeginForm("PharmacyMSGSave", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "validate" }))
        { 
            
            <div class="widget Header">
                <div class="head dark">
                    <div class="icon"><span class=""></span></div>
                    <h2>Pharmacist Alerts</h2>
                </div>
                @Html.Hidden("PIN")
                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span2">
                                <div class="span4">
                                    <span>.</span>
                                    <input type="text" id="gIACode" class="ViewTxtCSS" style="font-style: oblique" value="" />
                                </div>
                                <div class="span8">
                                    <span class="top">PIN#</span>
                                    <input type="text" id="PinNo" class="" value="" />
                                </div>
                            </div>
                            <div class="span2"></div>
                            <div class="span4">
                                <span class="top">Operator</span>
                                <input type="text" id="OperatorName" class="ViewTxtCSS" value="" />
                            </div>
                            <div class="span4">
                                <span class="top">DateTime</span>
                                <input type="text" id="DateTime" class="ViewTxtCSS" value="" />
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="span8">
                                <span class="top">Name</span>
                                <input type="text" id="PTName" class="ViewTxtCSS" value="" />
                            </div>
                            <div class="span2">
                                <span class="top">Sex</span>
                                <input type="text" id="Sex" class="ViewTxtCSS" value="" />
                            </div>
                            <div class="span2">
                                <span class="top">Age</span>
                                <input type="text" id="Age" class="ViewTxtCSS" value="" />
                            </div>
                        </div>




                        <div class="row-form">
                            <div class="span1"></div>
                            <div class="">
                                <div class="span8">
                                    <span class="top">Add Message</span>
                                    <input type="text" id="txtMsg" style="width: 100%" />
                                </div>
                                <div class="span1">
                                    <span class="top">.</span>
                                    <input type="button" class="button" id="btnAddItem" value="Add" />
                                </div>
                            </div>
                        </div>
                        <div class="dr"><span></span></div>
                        <div class="row-form">
                            <div class="DrugAllergyDIV">
                                <table class="table" id="SelectedDrugtbl"
                                    style="background-color: beige; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="hidden">ID</th>
                                            <th>Message</th>
                                            <th>Station</th>
                                            <th>Operator</th>
                                            <th>deleted</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span12">
                                <div class="span8">
                                </div>
                                <div class="span2">
                                    <button class="btn btn-primary" id="btnSave" style="width: 75%">Save</button>
                                </div>
                                <div class="span2">
                                    <button class="btn btn-primary" id="btnClear" style="width: 75%">Clear</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        }
    </form>

</div>

