@using MMS2
@model ISBSHeader
@{
    Layout = null;
    ViewBag.Title = "RdlcHtml";
    
}
<script type='text/javascript' src="@Url.Content("~/Scripts/MISRept.js")"></script>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>


    <link href="@Url.Content("~/css/LoaderStyle/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/LoaderStyle/main.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/stylesheets.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <form>
        <div>
            what ever you want is here

            @*@Html.Partial("ViewPage2")*@
            @*@Html.Partial("/MISRept/WebForm1")*@
            @*<iframe id="myReport" style="width: 100%; height: 800px;"></iframe>*@
        </div>


    </form>
</body>

</html>




<script>
                         
                    </script>
@*<a href="~/Views/Shared/RdlcViewr.aspx">~/Views/Shared/RdlcViewr.aspx</a>*@
@*<a href="~/Views/Shared/ViewPage2.aspx">~/Views/Shared/ViewPage2.aspx</a>*@