@{
    ViewBag.Title = "Look -UP";
    Layout = "~/Views/Shared/_TwitterLayoutPage.cshtml";
}

<script type='text/javascript' src="@Url.Content("~/Scripts/ItemLookUP.js")"></script>

<div class="breadCrumb clearfix">
    <ul id="breadcrumbs">
        <li><a href="@Url.Content("~/")">Home</a></li>
        <li><a href="@Url.Content("~/")" onclick="$('#mainMenuDefault').trigger('click');">Main</a></li>
        <li>Item Lookup</li>
    </ul>
</div>


<div class="content">
    <form id="validate">
        @using (Ajax.BeginForm("ItemLookupView", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "validate" }))
        {
            
            <div class="row-fluid">
                <div class="span12">
                    <div class="widget">
                        <div class="head dark">
                            <div class="icon"><i class="icos-newtab"></i></div>
                            <h2>Item Look UP </h2>
                            <label id="PageIS" class="bottom">@ViewBag.ItemViewType</label>

                        </div>
                        <div class="block">
                            <div class="row-form">
                                <div class="span2">Item Name </div>
                                <div class="span2">
                                    <select id="ItemSelectOperator">
                                        <option value="0">Like</option>
                                        <option value="1">Equal To</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <input type="text" class="validate[minSize[3]]" id="ItemText" />
                                </div>
                            </div>
                            <div class="row-form">
                                <div class="span2">Category </div>
                                <div class="span2">
                                    <select id="CategorySelectOperator">
                                        <option value="1">Equal To</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    @*@Html.DropDownList("CategoryList", new SelectList(Model.Racklist, "ID", "NAME", Model.HoldingRackListID_Add), new { id = "Rack1" })*@
                                    <select class="select" id="CategoryList" style="width: 300px;"></select>
                                </div>
                            </div>

                            <div class="row-form">
                                <div class="span2">Supplier Name </div>
                                <div class="span2">
                                    <select id="SupplierSelectOperator">
                                        <option value="0">Like</option>
                                        <option value="1">Equal To</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <input type="text" class="validate[minSize[3]]" id="SupplierText" />
                                </div>
                            </div>
                            <div class="row-form">
                                <div class="span2">Manufacturer </div>
                                <div class="span2">
                                    <select id="ManufacturerSelectOperator">
                                        <option value="0">Like</option>
                                        <option value="1">Equal To</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <input type="text" class="validate[minSize[3]]" id="ManufacturerText" />
                                </div>
                            </div>

                            <div class="row-form">
                                <div class="span2">Part number </div>
                                <div class="span2">
                                    <select id="PartSelectOperator">
                                        <option value="0">Like</option>
                                        <option value="1">Equal To</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <input type="text" class="validate[minSize[3]]" id="PartText" />
                                </div>
                            </div>
                            <div class="row-form">
                                <div class="span2">Item Code </div>
                                <div class="span2">
                                    <select id="ItemCodeSelectOperator">
                                        <option value="0">Like</option>
                                        <option value="1">Equal To</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <input type="text" class="validate[minSize[3]]" id="ItemCodeText" />
                                </div>
                            </div>

                            <div class="row-form">
                                <div class="span5 offset5">
                                    <input type="submit" name="btnView" id="btnView" class="btn btn-primary" value="View" style="width: 130px; font-size: large;" />
                                </div>
                            </div>

                            <div class="widget">
                                <div class="head">
                                    <div class="icon"><span class="icosg-target1"></span></div>
                                    <h2>Table Of Results</h2>
                                </div>
                                <div class="block-fluid">
                                    <table id="DataTables_Table_1" class="display" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Item Code</th>
                                                <th>Item Name</th>
                                                <th>Category Name</th>
                                                <th>supplier</th>
                                                <th>manufacturer</th>
                                                <th>price</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Bootrstrap modal form -->

            <div id="fModal-Batch" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">Item Info</h3>
                </div>
                <div class="row-fluid">
                    <div class="block-fluid">
                        <div class="row-form">
                            <div class="span3">
                                <span class="top title">QOH:</span>
                                <label id="lblQTY"></label>
                            </div>
                            <div class="span3">
                                <span class="top title">ROL:</span>
                                <label id="lblROL"></label>
                            </div>
                            <div class="span3">
                                <span class="top title">ROQ:</span>
                                <label id="lblROQ"></label>
                            </div>
                            <div class="span3">
                                <span class="top title">UOM:</span>
                                <label id="lblUOM"></label>
                            </div>
                        </div>
                        <div class="row-form">
                            <div class="span4">
                                <span class="top title">Min Level:</span>
                                <label id="lblMinlvl"></label>
                            </div>
                            <div class="span4">
                                <span class="top title">Max Level:</span>
                                <label id="lblMaxlvl"></label>
                            </div>
                            <div class="span4">
                                <span class="top title">Location:</span>
                                <label id="lbllocation"></label>
                            </div>
                        </div>
                        <div class="row-form">

                            <table id="tblBatch" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Slno</th>
                                        <th>Batch Number</th>
                                        <th>Quantity</th>
                                        <th>ExpiryDate</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save updates</button>*@
                    <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>    

            
        }
        
    </form>
</div>





@*<div id="DataTables_Table_1_wrapper" class="dataTables_wrapper" role="grid">
                                        <table class="fpTable dataTable" cellpadding="0" cellspacing="0" width="100%" 
                                            id="DataTables_Table_1"
                                            aria-describedby="DataTables_Table_1_info" style="width: 100%;">
                                            <thead>
                                                                                         <tr role="row">
                                                    <th width="5%" class="" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending" style="width: 10%;">ID</th>
                                                    <th width="5%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Status: activate to sort column ascending" style="width: 10%;">ItemCode</th>
                                                    <th width="10%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Name: activate to sort column ascending" style="width: 75px;">ItemName</th>
                                                    <th width="20%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Product: activate to sort column ascending" style="width: 200px;">Group Name</th>
                                                    <th width="15%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Date: activate to sort column ascending" style="width: 200px;">Supplier Name</th>
                                                    <th width="20%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Date: activate to sort column ascending" style="width: 200px;">Manufacturer</th>
                                                    <th width="20%" class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                                        aria-label="Date: activate to sort column ascending" style="width: 200px;">Selling Price</th>
                                                </tr>
                                            </thead>

                                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                            </tbody>
                                        </table>
                                    </div>*@