<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http: -->
<Project ToolsVersion="4.0" xmlns="http:   <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\Websites\MMS\MMS2TEST.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/MMS2TEST</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HISEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MMS2.HISEntities, DataBaseMMS2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SqlExpress_DBEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLExpress;Initial Catalog=SqlExpress_DB;Integrated Security=True;Pooling=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlExpress_DBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res:           </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HISConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=130.1.2.90;Initial Catalog=HIS;Persist Security Info=True;User ID=WHCIT;Password=WHCIT" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HISConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=130.1.2.90;Initial Catalog=HIS;Persist Security Info=True;User ID=WHCIT;Password=WHCIT" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="HISEntities1" Order="5" Enabled="False">
          <Destination Path="Data Source=130.1.2.90;Initial Catalog=HIS;Persist Security Info=True;User ID=WHCIT;Password=WHCIT" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=130.1.2.90;Initial Catalog=HIS;Persist Security Info=True;User ID=WHCIT;Password=WHCIT;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HISEntities1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res:           </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="6" Enabled="False">
          <Destination Path="Data Source=130.1.2.90;Initial Catalog=HIS;Persist Security Info=True;User ID=WHCIT;Password=WHCIT" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MMS2.UsersContext, DataBaseMMS2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=130.1.2.90;Initial Catalog=HIS;Persist Security Info=True;User ID=WHCIT;Password=WHCIT</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HISConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HISEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HISEntities1-Web.config Connection String">
      <ParameterValue>metadata=res:       <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlExpress_DBEntities-Web.config Connection String" />
  </ItemGroup>
</Project>