<!DOCTYPE html>
<html lang="en" class="csstransforms csstransforms3d csstransitions">
<head>


    <link href="@Url.Content("~/css/stylesheets.css")" rel="stylesheet" type="text/css" />





</head>


<body class="">
    @RenderBody()
</body>
</html>
