  <div id="fModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Notificatoin</h3>
            </div>        
            <div class="row-fluid">
                <div class="block-fluid">
            @ViewBag.ErrorMsg
                </div>
            </div>                   
            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">Close</button>            
            </div>
        </div>    
